body {
	display: flex;
	background: #87ceeb;
}

.w-100 {
  width: 100% !important;
  height: 696px;
}

.carousel-control-prev,
    .carousel-control-next{
        height: 50px;
        width: 50px;
        outline: $color-white;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid $color-white;
        background-color: $color-white;
    }

    .carousel-control-prev-icon { 
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
        width: 30px;
        height: 48px;
    }
    .carousel-control-next-icon { 
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }

.navbar {
	width: 100%;
	position: absolute;
	border-style: groove;
	border-color: black;
	border-width: 2px;
}

.carousel {
	position: relative;
	border-style: groove;
	border-color: black;
	border-width: 2px;
    top: 115px;
	width: 1300px;
	height: 700px;
	background-color: black;
	left: 15%;
}

.nav-item {
	margin-left: 15px;
	font-size: 19px;
}

.navbar-brand {
	font-size: 22px;
	margin-left: 50px;
}